header {
  height: 70px;
  width: 77%;
  border-bottom: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bolder;

  nav {
    width: 500px;

    ul {
      @include flex-center;
      justify-content: space-between;
      color: $testo-principale;
      font-weight: 400px;

      li {
        display: inline-block;
      }

      .google-signup {
        border-radius: 5px;
        height: 40px;
        width: 100px;

        @include flex-center;
        justify-content: space-evenly;

        i {
          width: 20px;
          height: 20px;
          margin-top: 5px;

        }
      }
    }
  }
}