header {
  height: 70px;
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 1px #cccccc, 1px 1px 2px rgb(202, 202, 202);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-weight: bolder;
  z-index: 999;


  nav {
    width: 450px;
    margin-left: 230px;

    ul {
      @include flex-center;
      justify-content: space-between;
      color: $testo-principale;
      font-weight: 400px;

      li {
        display: inline-block;
      }

      .google-signup {
        border-radius: 5px;
        height: 40px;
        width: 100px;

        @include flex-center;
        justify-content: space-evenly;

        i {
          width: 20px;
          height: 20px;
          margin-top: 5px;

        }
      }
    }
  }
}