@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin primo-titolo {
    width: 600px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 70px;
            
}