@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin primo-titolo {
    width: 600px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 70px;

}

@mixin paragrafi-cards {
    width: 70%;
    font-size: 18px;
    font-weight: bolder;
}