.section2 {
  height: 260vh;
  background-color: $colore-pesca-principale;
  color: $testo-principale;

  h2 {
    @include primo-titolo;
    height: calc(260vh / 12);
  }

  .row1 {
    max-width: 900px;
    height: calc(300vh / 9);
    margin: auto;
    @include flex-center;

    .card {
      width: calc(900px / 3);
      height: 100%;
      flex-direction: column;
      @include flex-center;
      text-align: center;
      justify-content: space-evenly;


      p {
        @include paragrafi-cards;
      }


      img {
        width: 50%;
      }

    }
  }



  .card-speciale img {
    height: 50%;
    width: 200px;
    object-fit: contain;
  }

  .row2 {
    max-width: 900px;
    height: calc(300vh / 5);
    margin: auto;
    @include flex-center;

    img {
      width: 32%;
    }
  }

  hr {
    width: 77%;
    margin: auto;
    height: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 50px;

  }




}